@import "../index.scss";
$comm-background-color: #ffffff;
.header {
    background-color: $comm-background-color;
}

.tab_item {
    font-weight: 200;
    font-size: 16px;
    div {
        color: #333333;
    }
    div:hover {
        color: $primary;
    }
}

.logo {
    font-size: 16px;
}